body,
html {
  width: 100%;
  margin: 0;
  background-color: #222;
  color: #F8F3E7;
}

html,
body,
#root {
  height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    .title {
        font-family: Verdana;
        color: var(--creme)
    }
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}