.flex-container {
    display: flex;
    flex-direction: column;
}

/* GreenSquares.css */
.square {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 2px;
    background-color: red; /* Default color */
}

.square.green {
    background-color: green; /* Color for progress */
}


.squares {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
